In [1]:
import csv, pandas

In [2]:
windsorfile = 'input/windsor-records.csv'
chathamfile = 'input/chatham-records.csv'

In [34]:
def check_digit_10(isbn):
    assert len(isbn) == 9
    sum = 0
    for i in range(len(isbn)):
        c = int(isbn[i])
        w = i + 1
        sum += w * c
    r = sum % 11
    if r == 10: return 'X'
    else: return str(r)

def check_digit_13(isbn):
    assert len(isbn) == 12
    sum = 0
    for i in range(len(isbn)):
        c = int(isbn[i])
        if i % 2: w = 3
        else: w = 1
        sum += w * c
    r = 10 - (sum % 10)
    if r == 10: return '0'
    else: return str(r)

def convert_10_to_13(isbn):
    assert len(isbn) == 10
    prefix = '978' + isbn[:-1]
    check = check_digit_13(prefix)
    return prefix + check

In [35]:
convert_10_to_13('052507645X')

'9780525076452'

In [5]:
chatham_data = pandas.read_csv(chathamfile,index_col=0)

In [33]:
chatham_data.loc[chatham_data['020$a'] == '052507645X']

          020$a                                  245
001
73   052507645X  Carl Rogers :the man and his ideas.